%h1 New Calendar Event

= form_for @calendar_event, url: manage_calendar_path do |f|
  .form-area
    = f.label :title
    = f.text_field :title
    
  .form-area
    = f.label :date
    = date_select('calendar_event', 'date')
    
  .form-area
    = f.label :description
    = f.text_area :description
    
  .form-area
    %a#submit.btn.btn-large.btn-block{href: '#'}
      Create Event